body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #dcdcdc;
}

.navbar {
  width: 100%;
  background-color: rgb(54, 96, 97);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 17px 20px;
}

/*style the aside bar*/
.sideBar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  background-color: rgb(219, 197, 169);
  position: fixed;

  overflow: auto;
  text-decoration: none;
}

.sideBar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sideBar a:hover {
  background-color: rgb(174, 150, 121);
  ;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}


/*style middle section content */
section {
  margin-left: 200px;
}

/*style the word game cards*/

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px;
  margin: 40px;

  background: rgb(247, 226, 200);
  border-radius: 16px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  margin: 40px auto;

  border: 2px solid red;
  /*temporaliy*/
}

.cardContentcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px;
  margin: 40px;

  background: rgb(247, 226, 200);
  border-radius: 16px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  margin: 40px auto;
}

/*style each individual actual word card*/
.wordCard {
  width: 350px;
  height: 100px;
  background: rgb(217, 183, 31);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* shift every second card to the right */
.wordCard:nth-child(even) {
  margin-left: 200px;
}

/* style the content of the words*/

.cardContent {
  width: 350px;
  height: 200px;
  background: rgb(207, 189, 108);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  display: grid;
  align-items: center;
  justify-content: center;
}


/*the start button*/
.startButton {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px;
  margin: 40px;

  background: rgb(144, 190, 130);
  border-radius: 10px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 250px;
  margin: 30px auto;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

/*style the instructions, about, score pages*/

#cardModalPage {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px;
  margin: 40px;

  background: rgb(247, 226, 200);
  border-radius: 16px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  margin: 40px auto;
}

/*style the timer*/

.timerCount {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px;
  margin: 40px;

  background: rgb(144, 190, 130);
  border-radius: 10px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  max-width: 200px;
  margin: 30px auto;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

/*sytle the form for user submitted answers*/
.answerForm {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(217, 183, 31);
  border-radius: 4px;
}

/*style submit form button*/
#submitButton {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px;
  margin: 40px;

  background: rgb(62, 188, 81);
  color: whitesmoke;
  border-radius: 10px;

  box-shadow: 0 8px 25px rgba(25, 207, 164, 0.15);
  max-width: 250px;
  margin: 30px auto;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;

}

/*style the ccotinue button*/
.continueButton {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px;
  margin: 40px;

  background: rgb(120, 231, 155);
  border-radius: 10px;

  box-shadow: 0 8px 25px rgba(138, 22, 22, 0.15);
  max-width: 250px;
  margin: 30px auto;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;


}


/*style the end game button*/
.endGamebutton {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 25px;
  margin: 40px;

  background: rgb(234, 60, 37);
  border-radius: 10px;

  box-shadow: 0 8px 25px rgba(138, 22, 22, 0.15);
  max-width: 250px;
  margin: 30px auto;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

/*style the admin forms(register and log in)*/
#lower_login {
  text-align: center;
}

#lower_login a {
  text-decoration: none;
  color: deepskyblue;
}

#lower_login button {
  background-color:rgb(54, 96, 97);
  border: 2px solid;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin: 8px 12px;
  padding: 14px;
  border-radius: 4px;
  width: 120px;
}


/*style the footer*/
.footer {
  height: 50px;
  color: white;
  width: 100%;
  background-color: rgb(54, 96, 97);
  position: fixed;
  bottom: 0;
  text-align: center;
  margin: 0;
}



@media screen and (max-width: 700px) {
  .sideBar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sideBar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sideBar a {
    text-align: center;
    float: none;
  }
}